<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399636248733-5lp1502v7tk12n5s1ump68qrsi2c6275.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399636248733-5lp1502v7tk12n5s1ump68qrsi2c6275</string>
	<key>API_KEY</key>
	<string>AIzaSyAvQFNi38wmXiWFij76M9aW3IOn83J9gsI</string>
	<key>GCM_SENDER_ID</key>
	<string>399636248733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shop-app-2d553</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-2d553.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399636248733:ios:408e33d08cb6cf3cc2bc74</string>
</dict>
</plist>